import pytest

{{ import_string }}
from .commons import (  # isort: skip
    {% for func in assert_funcs -%}
    {{ func }},
    {% endfor %}
)

{% for t_name, t in tests.items() -%}
def {{t_name}}():
    {%- if t.info != '' %}
    '''
    {{t.info}}
    '''
    {%- endif %}
    {%- if t.input.type == "file" %}
    with open('fixtures/{{t.input.arg}}', 'rb') as file:
        data = file.read()
    {%- elif t.input.type == "raw" %}
    data = {{ t.input.arg }}
    {%- elif t.input.type == "str" %}
    data = "{{ t.input.arg }}"
    {%- endif %}
    {%- if is_dict(t.assert.arg) == True %}
    {%- if t.assert.arg.type == "file" %}
    with open('fixtures/{{t.assert.arg.arg}}', 'rb') as file:
        expected = file.read()
    {%- elif t.assert.arg.type == "raw" %}
    expected = {{ t.assert.arg.arg }}
    {%- elif t.assert.arg.type == "str" %}
    expected = "{{ t.assert.arg.arg }}"
    {%- endif %}
    {%- elif t.assert.func != "fail" %}
    expected = {{ t.assert.arg }}
    {%- endif %}
    {% if t.assert.func != "fail" -%}
    serialized_data = {{func}}(data)
    assert {{ t.assert.func }}(serialized_data, expected)
    {% else -%}
    try:
        serialized_data = {{ func }}(data)
        pytest.fail()
    except Exception as e:
        {%- if t.assert.get('arg') != None %}
       assert str(e) == expected
        {% else %}
        pass
        {% endif %}
    {%  endif %}
{% endfor %}
