[flake8]
max-line-length = 79
exclude =
    examples
    .git
    __pycache__
    setup.py
    build
    dist
    *.lock
    *.toml
    *.yaml
    *.yml
    *.json
    .flake8
    *.md
    *.sh
    *.jinja2
    Dockerfile
    .gitignore
    .coveragerc
